:root {
    --main-color: #08dce4;
    --second-color: #252525;
  }

body {
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
}

.chatroom {
    margin-top: 25px;
    display: flex;
}